body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #adcbe3;
}

#oppgavesvar {
    display: grid;
    place-items: start;
}

input {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

button {
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background-color: #63ace5;
    color: white;
}

#txtSvar {
    display: grid;
    place-items: center;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
}